body {
    font-family: 'Arial', sans-serif;
    background-color: oklch(100% 0.0 242.065);
    text-align: center;
    margin: 20px;
}
h2 {
    color: oklch(65% 0.16803 242.065);
}
.tabs {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}
.tab {
    padding: 10px 20px;
    cursor: pointer;
    font-weight: bold;
    color: white;
    background: oklch(90% 0.16803 242.065);
    border: none;
    border-radius: 20px;
    margin: 0 5px;
    transition: 0.3s;
}
.tab.active {
    background: oklch(65% 0.16803 242.065);
}
textarea {
    width: 80%;
    height: 100px;
    border: 2px solid oklch(65% 0.16803 242.065);
    border-radius: 10px;
    padding: 10px;
    font-size: 14px;
    background-color: #fff;
}
button {
    background: oklch(65% 0.16803 242.065);
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 20px;
    cursor: pointer;
    transition: 0.3s;
}
button:hover {
    background: linear-gradient(135deg, oklch(65% 0.16803 242.065), oklch(90% 0.16803 242.065));
    transform: scale(1.05);
}
#map {
    width: 80%;
    height: 500px;
    margin: 20px auto;
    border: 3px solid oklch(65% 0.16803 242.065);
    border-radius: 10px;
}